body {
    background-color: #EDDDD0;
}

h1{
    color: #002aff;
}
p{
    color: rgb(0, 0, 0);
}

.h1font{
    font-family:Montserrat, sans-serif;
}

#topnav{
    text-align: center;
    background-color: #A6CAD4;
}

.footer{
    text-align: center;
    background-color: #A6CAD4;
}



